@import "theme";
@import "./sass-partials/header";
@import "./sass-partials/footer ";
@import "./sass-partials/showcase-with-image";

.showcase-with-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/aboutUs_hero.jpeg");
  height: 50rem;
  align-items: center;
  background-position: center 5%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &__content {
    &__heading {
      color: $very-dark-blue;
    }

    &__signature {
      width: 12rem;
      margin: auto;
    }
  }

  &__image {
    width: 80%;
    margin: 0 auto;
  }
}

.stats-container {
  color: $light-grey;

  background-color: $black;
  display: flex;
  flex-direction: column;
  &__content {
    text-align: center;
    &__heading {
      // text-align: center;
    }

    &__para {
      // text-align: center;
      color: $grey;
    }
    button {
      border-radius: 5px;
      margin-bottom: 2rem;
      font-family: "Nexa-Bold";
    }
  }

  &__stats {
    &__block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid $grey;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 1rem;

      :first-child {
        margin-bottom: 0;
      }
      :last-child {
        color: $grey;
        margin-bottom: 0;
        font-size: 0.9rem;
      }
    }
  }
}

@include respond-above-tablet-view {
  .container {
    display: grid;
    grid-template-columns: 6fr 4fr;
    &__image {
      text-align: center;
      margin: 0 auto;
    }
  }

  .stats-container {
    &__content {
      text-align: left;
      &__para {
        text-align: left;
      }
    }
    &__stats {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
    }
  }
}

@include desktop-view-only {
  .showcase-with-image {
    height: 25rem;
  }

  .container {
    gap: 2rem;
    grid-template-columns: 7fr 5fr;

    &__content {
      text-align: left;
      &__para {
        text-align: justify;
      }
    }
    &__image {
      width: 300px;
    }
  }
  .stats-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    &__stats {
    }
  }
  #myVideo {
    position: absolute;
    // top: 0;
    // left: 0;
  }
}
