@import "theme.scss";
@import "./sass-partials/utility.scss";
@import "./sass-partials/header.scss";
@import "./sass-partials/showcase.scss";
@import "./sass-partials/footer";
@import "./sass-partials/showcase-with-image";

.google-map {
  text-align: center;
  iframe {
    width: 95%;
    height: 300px;
  }
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__main-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    &__item {
      display: flex;
      gap: 2rem;
      align-items: center;
      i {
        color: $dodger-blue;
        font-size: 1.5rem;
        text-align: center;
      }
      ul {
        li {
          margin-bottom: 0.5rem;
        }
        :first-child {
          font-family: "Nexa-Bold";
          color: $very-dark-blue;
        }
        :nth-child(2) {
          font-size: 0.9rem;
          color: $dark-blue;
          margin-bottom: 0;
        }
      }
    }
  }

  &__submit-query {
    background-color: aqua;
  }
}

@include respond-above-tablet-view {
  .contact-details {
    &__main-list {
      flex-direction: row;
      justify-content: space-between;
      &__item {
        display: flex;
        gap: 1rem;

        ul {
          li {
            margin-bottom: 0.5rem;
          }
          :first-child {
            font-family: "Nexa-Bold";
          }
          :nth-child(2) {
            font-size: 0.9rem;
            color: $dark-blue;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .google-map {
    text-align: center;
    iframe {
      height: 400px;
    }
  }
}
