@import "./sass-partials/login-signup-template";
.container {
  form {
    gap: 1rem;
    padding: 1rem;
    :first-child {
      display: flex;
      align-items: center;
      position: relative;

      i {
        color: $grey;
        position: absolute;
        right: 1rem;
      }
    }
  }
}
