<%- include('partials/head.ejs')  %> 
    <link rel="stylesheet" href="stylesheets/login.css" />
  </head>
  <body>
    <!-- HEADER -->
    <%- include('partials/header.ejs')  %> 
    <main>
      <div class="login__container">
        <h3>Login</h3>
        <form id="form">
          <div>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              required
            />
            <i class="fas fa-question-circle"></i>
          </div>
  <div class="email error"></div>
          <div>
            <input type="password" name="password" id="password" placeholder="Password" required/>
          </div>
  <div class="password error"></div>
          <div>
            <button class="accentButton" form="form">LOGIN</button>
            <i class="fas fa-arrow-right"></i>
          </div>
        </form>
        <p>
          Not Registered? <a href="/signup"><span>Sign Up</span></a>
        </p>
      </div>
      <p class="copyrights">All Rights Reserved. &copy; tvastra 2021</p>
    </main>
    <script src="javascripts/header.js"></script>
    <script src="javascripts/login.js"></script>
  </body>
</html>
