<%- include('partials/head.ejs')  %> 
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <!-- HEADER -->
    <%- include('partials/header.ejs')  %> 
    <main>
      <div class="login__container">
        <h3>Login</h3>
        <form>
          <div>
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Email"
            />
            <i class="fas fa-question-circle"></i>
          </div>
          <div>
            <input type="text" name="password" id="password" placeholder="Password" />
          </div>
          <div>
            <button class="accentButton">LOGIN</button>
            <i class="fas fa-arrow-right"></i>
          </div>
        </form>
        <p>
          Not Registered? <a href="/signup"><span>Sign Up</span></a>
        </p>
      </div>
      <p class="copyrights">All Rights Reserved. &copy; tvastra 2021</p>
    </main>
    <script src="./js/header.js"></script>
  </body>
</html>
