$dodger-blue: #047aed;
$very-dark-blue: #021433;
$dark-grey: #525659;
$white: #fff;
$black: #000;
$dark-blue: #222844;
$grey: #a19f9f;
$very-light-blue: #e0fbfc;
$light-grey: #f0f0f0;
$very-light-grey: #f8f9fa;
$sky-blue: rgba(147, 190, 222, 0.9);
