@import "./theme.scss";
@import "./sass-partials/header";

body {
  background-color: $sky-blue;
  height: 100vh;
}

header {
  background-color: $white;
  max-height: 10vh;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  //   height: calc(100vh-70px);
  min-height: 90vh;
}

.container {
  max-width: 30rem;
}

.a {
  position: absolute;
  height: 2rem;
  bottom: 0;
}
