@import "./theme.scss";
@import "./sass-partials/header";

html,
body {
  background-color: $sky-blue;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

header {
  background-color: $white;
  max-height: 10vh;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  //   height: calc(100vh-70px);
  height: calc(100% - 70px);
  height: -moz-calc(100% - 70px);
  height: -webkit-calc(100% - 70px);
}

.container {
  max-width: 30rem;
}

.a {
  position: absolute;
  height: 2rem;
  bottom: 0;
}
