.sort-by {
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin-bottom: 0;
  }
}

@include respond-above-tablet-view {
  select {
    font-size: 0.9rem;
  }
}
