@font-face {
  font-family: "Nexa-Bold";
  src: url(../../Nexa-Bold.otf); }
@font-face {
  font-family: "Nexa-Light";
  src: url(../../Nexa-Light.otf); }
/* --------IMPORT COLORs----------- */
button {
  font-size: 0.9rem;
  border: none;
  letter-spacing: 1px;
  padding: 0.5rem 2rem;
  cursor: pointer; }
  @media (min-width: 1024px) {
    button {
      padding: 0.75rem 1rem; } }

.accentButton {
  background-color: #021433;
  color: #fff;
  border: 1px solid #021433; }

.filledButton {
  background-color: #047aed;
  color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #047aed; }
  @media (min-width: 1024px) {
    .filledButton {
      font-size: 1.2rem; } }

.linkButton {
  background-color: #fff;
  color: #222844;
  border: 1px solid #021433;
  border-radius: 5px; }

* {
  box-sizing: border-box; }

body {
  font-family: "Nexa-Light"; }

header,
section,
footer {
  padding: 1.25rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nexa-Bold"; }

h1,
h2 {
  font-size: 1.7rem;
  line-height: 1.2; }

h3 {
  font-size: 1.55rem;
  line-height: 1.2; }

h4 {
  font-size: 1.3rem;
  line-height: 1.2; }

h5 {
  font-size: 1.15rem;
  line-height: 1.5; }

h6 {
  font-size: 1rem;
  line-height: 1.5; }

p {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  text-align: center;
  color: #021433; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: auto;
  object-fit: cover; }

figure {
  overflow: hidden; }

ul li {
  letter-spacing: 0.03rem; }

label {
  font-size: 1rem; }

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: fit-content;
  height: auto;
  font-family: "Nexa-Light";
  cursor: pointer;
  border: 0;
  border-bottom: 0.5px dotted #222844;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  font-size: 0.85rem;
  color: #021433;
  line-height: 1.5;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: center right; }
  @media screen and (min-width: 768px) {
    select {
      font-size: 0.95rem; } }

select:hover,
select:focus {
  color: #fff;
  background-color: #047aed; }

option {
  font-size: 1rem;
  line-height: 1.4;
  background-color: #047aed; }

input {
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 0.75rem; }
  @media (min-width: 1024px) {
    input {
      padding: 1rem; } }

::placeholder {
  font-family: "Nexa-Light";
  color: #525659;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  line-height: 1.5; }

span {
  font-size: 1rem;
  line-height: 1.5; }

textarea {
  border: 1px solid #a19f9f;
  width: 100%;
  height: 10rem;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.3rem 0.5rem;
  margin: 1rem; }

@media (min-width: 1024px) {
  header {
    padding: 1.5rem 5rem; }

  section,
  footer {
    padding: 3rem 5rem; }

  h1,
  h2 {
    font-size: 2.5rem; }

  h3 {
    font-size: 2.2rem; }

  h4 {
    font-size: 2rem; }

  h5 {
    font-size: 1.75rem; }

  h6 {
    font-size: 1.5rem; } }
.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__figure {
    width: 7rem; }
    @media (min-width: 1024px) {
      .header__figure {
        width: 10rem; } }
  .header__navbar__services-list {
    display: none; }
    @media (min-width: 1024px) {
      .header__navbar__services-list {
        display: flex;
        gap: 2rem; }
        .header__navbar__services-list__item a {
          color: #222844; } }
  .header__hammerburger {
    color: #525659; }
    @media (min-width: 1024px) {
      .header__hammerburger {
        display: none; } }
  .header__buttons {
    display: none; }
    @media (min-width: 1024px) {
      .header__buttons {
        display: block; }
        .header__buttons button {
          margin-left: 0.5rem;
          border-radius: 3px; } }

body {
  background-color: #93bede;
  height: 100%; }

header {
  background-color: #fff; }

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.container {
  width: 90%;
  max-height: 50%;
  background-color: #fff;
  margin: 1vh 0;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .container h1 {
    color: #047aed;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
    padding: 0.5rem 0;
    margin-bottom: 0;
    font-size: 1.4rem; }
  .container p {
    font-size: 0.9rem;
    font-family: "Nexa-Bold";
    color: #525659; }
  .container span {
    color: #047aed; }
  .container form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1rem; }
    .container form input,
    .container form select {
      outline: none;
      border: 1px solid #d3d3d3;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
    .container form select {
      color: #525659;
      letter-spacing: 0.05rem;
      font-size: 0.8rem;
      line-height: 1.5; }
    .container form :last-child {
      display: flex;
      align-items: center;
      position: relative; }
      .container form :last-child button {
        flex-grow: 1;
        justify-content: center; }
      .container form :last-child i {
        position: absolute;
        right: 1rem;
        color: #fff; }

.a {
  position: absolute;
  bottom: 1rem;
  height: 2rem; }

/*# sourceMappingURL=signup.css.map */
