/* HIDE SHOWCASE AND FILTER SECTION IN MOBILE VIEW */
#showcase,
#doctors #filtersSection {
  display: none;
}

#doctor-list select {
  border: none;
  background-color: var(--light-grey-1);
  padding: 0.75rem 1rem;
  color: var(--very-dark-blue);
  font-family: "Nexa-Light";
  font-size: 0.85rem;
}

/* DOCTORS LIST SECTION */
#doctor-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MAIN DOCTORS LIST CONTAINER */
#doctors .doctors {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* INDIVIDUAL DOCTOR STYLING IN MOBILE VIEW */
#doctors .doctors .doctor {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem 0 0 0.5rem;
  border: 1px solid var(--light-grey);
  text-align: left;
}

/* DOCTORS NAME */
#doctors .doctors .doctor .doctor-name {
  color: var(--dodger-blue);
  margin-bottom: 0;
  margin-left: 2.5rem;
  text-align: left;
  justify-self: left;
  position: relative;
}

/* LINE BEFORE THE DOCTOR NAME */
#doctors .doctors .doctor .doctor-name::before {
  margin: 0 -0.5rem;
  position: absolute;
  width: 2.5rem;
  content: "";
  top: 1rem;
  left: -2.5rem;
  transform: translateY(-0.3rem);
  border-bottom: 0.15rem solid var(--dodger-blue);
}

/* REMOVE DEFAULT MARGIN FOR li ITEMS */
#doctors .doctors .doctor .doctor-details > li {
  display: flex;
  justify-content: left;
  justify-items: flex-start;
  align-items: center;
  max-width: 100%;
  margin-bottom: 0.5rem;
}

.doctor-details p {
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: left;
  font-size: 0.9rem;
}

/* DOCTOR IMAGE CONTAINER */
#doctors .doctor figure {
  height: 25rem;
}

/* DOCTOR IMAGE */
#doctors .doctor img {
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

/* STYLING FOR ICONS */
.doctor-details i {
  color: var(--dodger-blue);
  width: 1.5rem;
  margin-right: 1rem;
  text-align: center;
}

/* STYLING BUTTON TO REDUCE STRETCHING*/
#doctors .doctors .doctor button {
  justify-self: center;
}

#socialMobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#socialDesktop {
  display: none;
}

#footer h3 {
  color: var(--white);
  margin-bottom: 0;
}

#footer {
  gap: 1.5rem;
}

#footer #copyrights p {
  font-size: 0.7rem;
  color: var(--light-grey-1);
}
/* HIDE .social-for-desktop IN MOBILE VIEW */
#footer .social-for-desktop li {
  display: none;
}

@media screen and (min-width: 768px) {
  /* ----SHOWCASE STYLES---- */

  /* SHOWCASE HEADING */
  #showcase h4 {
    font-family: "Nexa-Light";
    margin-bottom: 0;
  }

  /* STYLING DELHI */
  #showcase span {
    color: var(--very-dark-blue);
    font-size: 2rem;
    text-decoration: underline;
  }
  #showcase {
    background-image: linear-gradient(
        rgba(147, 190, 222, 0.8),
        rgba(147, 190, 222, 0.8)
      ),
      url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: left;
  }

  section {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  #showcase {
    min-height: 35vh;
    padding-bottom: 0;
  }
}

#doctor-list p {
  margin-bottom: 0;
  color: var(--very-dark-blue);
}

#doctor-list select {
  appearance: none;
}

#doctor-list .select {
  position: relative;
}

#doctor-list .select::before {
  content: "\f0d7";
  font-family: "FontAwesome";
  /* font-style: normal; */
  /* font-weight: normal; */
  text-decoration: inherit;
  /* --adjust as necessary-- */
  color: var(--very-dark-blue);
  font-size: 1rem;
  /* padding-right: 0.1em; */
  position: absolute;
  top: 30%;
  left: 80%;
}

@media screen and (min-width: 1024px) {
  #doctor-list {
    padding: 1.5rem 5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #doctor-list {
    padding: 1rem 2rem 0 2rem;
  }
}

/* #doctors {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
} */

@media screen and (min-width: 768px) {
  #doctors #filtersSection {
    grid-area: 1/1/2/2; /*this is a grid item */
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #doctors #filtersSection p {
    margin-bottom: 0;
    font-size: 0.8rem;
  }

  #doctors #filtersSection .filter-by p {
    background-color: var(--light-grey-1);
    padding: 0.75rem 2rem;
    text-align: left;
    font-family: "Nexa-Bold";
  }

  #doctors #filtersSection .filtered p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
    letter-spacing: unset;
    border: 1px solid var(--light-grey);
    border-radius: 1rem;
  }

  #doctors #filtersSection .filtered {
    width: 100%;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: auto auto;
  }

  #doctors #filtersSection .filtered > div {
    position: relative;
  }

  #doctors #filtersSection .filtered div i {
    position: absolute;
    top: 25%;
    right: 0.5rem;
    color: var(--sky-blue);
    font-size: 0.7rem;
  }

  #doctors #filtersSection #locationSearchContainer {
    padding: 0 1rem;
    margin-bottom: 2rem;
  }

  #doctors #filtersSection #locationSearchContainer .search-by-location {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  #doctors
    #filtersSection
    #locationSearchContainer
    .search-by-location
    .icons
    i {
    font-size: 0.7rem;
    margin-left: 2rem;
  }

  #doctors
    #filtersSection
    #locationSearchContainer
    .search-by-location
    .icons
    .fa-search {
    color: var(--dodger-blue);
  }
  #doctors
    #filtersSection
    #locationSearchContainer
    .search-by-location
    .icons
    .fa-minus {
    color: var(--light-grey);
  }

  #doctors #filtersSection #locationSearchContainer .locations {
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  #doctors #filtersSection #locationSearchContainer .locations div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    justify-items: left;
    align-items: center;
  }

  #doctors #filtersSection #locationSearchContainer .locations label {
    font-size: 0.8rem;
    letter-spacing: 0.08rem;
    color: var(--dark-blue);
  }
}

/* #doctors .doctors .doctor {
  display: grid;
  grid-template-columns: 6fr 0.5fr;
  gap: 0.5rem;
  width: 100%;
  justify-content: left;
  align-items: center;
  justify-items: left;
  border: 1px solid var(--light-blue);
  position: relative;
  height: 18rem;
}

#doctors .doctors .doctor::before {
  content: "";
  display: block;
  background-color: var(--dodger-blue);
  width: 2.5rem;
  height: 1px;
  left: 0;
  top: 17%;
  position: absolute;
}

#doctors .doctors .doctor figure {
  justify-self: end;
  width: 16rem;
  height: 100%;
}

#doctors .doctors .doctor figure img {
  height: 100%;
  width: 100%;
  object-position: top center;
}

#doctors .doctors .doctor > div {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#doctors .doctors .doctor .doctor-name {
  margin-bottom: 0;
  text-align: left;
  color: var(--dodger-blue);
}

#doctors .doctors .doctor .doctor-details p {
  font-size: 0.8rem;
  text-align: left;
  margin-left: 2rem;
  margin-bottom: 0;
  justify-self: left;
}

#doctors .doctors .doctor .doctor-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  flex-direction: column;
  text-align: left;
}

#doctors .doctors .doctor .doctor-details i {
  color: var(--dodger-blue);
}

#doctors .doctors .doctor button {
  margin-top: 1.5rem;
  align-self: flex-start;
}

.treatment,
.degree,
.experience,
.hospital-name,
.hospital-location {
  display: flex;
  align-items: center;
}

#doctor-details p {
  width: ;
} */
