/*----NAVBAR----*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 7rem;
}

nav #hammerburger {
  color: var(--grey);
}

nav .services,
nav button {
  display: none;
}

/*----NAVBAR TABLET VIEW----*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav,
  section,
  footer {
    padding: 1.5rem 2rem;
  }
}

/*----NAVBAR DESKTOP VIEW----*/

@media only screen and (min-width: 1024px) {
  nav .services,
  nav button {
    display: block;
  }

  #hammerburger {
    display: none;
  }

  nav img {
    width: 10rem;
  }

  nav .services {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 1rem;
  }

  nav .services p {
    margin-bottom: 0;
  }

  nav .buttons {
    display: flex;
  }

  nav .linkButton,
  nav .accentButton {
    margin-right: 0.5rem;
    padding: 0.65rem 1.25rem;
    font-size: 0.9rem;
    border-radius: 4px;
    letter-spacing: 0.5px;
  }
}

/* ----MAIN---- */

/* ---- SEARCH SECTION ---- */

#search {
  background-color: var(--sky-blue);
}

#search form .input-place {
  position: relative;
  margin-bottom: 0.5rem;
}

#search #form .input-place #locationIcon,
#search #form .input-place #gpsIcon {
  position: absolute;
  top: 0.7rem;
  color: var(--dark-blue);
}

#search #form .input-place #locationIcon {
  left: 0.75rem;
}

#search #form .input-place #gpsIcon {
  right: 0.75rem;
}

#search #form .input-place .input-field {
  text-indent: 1.5rem;
}

#search button {
  margin-top: 1rem;
}

/* SCREEN SIZE ABOVE 768PX */
@media only screen and (min-width: 768px) {
  #search form {
    display: grid;
    grid-template-columns: 30% auto max-content;
  }

  #search button {
    margin-top: 0;
  }

  #search form .input-treatment,
  #search form .input-place {
    align-self: center;
  }

  #search form .input-place {
    margin-bottom: 0;
    border-right: 1px solid var(--light-grey);
  }
}

/*----SEARCH DESKTOP VIEW----*/

@media only screen and (min-width: 1024px) {
  #search {
    height: 25rem;
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #search form {
    width: 65%;
  }

  #search header h1 {
    margin-top: 3rem;
    text-align: left;
    margin-bottom: 0;
  }

  #search button {
    font-size: 1rem;
  }

  #search header p {
    width: 50%;
    margin-bottom: 1.5rem;
    text-align: left;
  }

  #search #form .input-place #locationIcon,
  #search #form .input-place #gpsIcon {
    position: absolute;
    top: 1rem;
    color: var(--dark-blue);
  }

  #search #form .input-place #gpsIcon {
    right: 1rem;
  }
  #search #form .input-place #locationIcon {
    left: 1rem;
  }
}
