/* -----------------GLOBAL CSS VARIABLES--------------------------- */
:root {
  --dodger-blue: #0099ff; /* used for button background primarly */
  --sky-blue: #8fcaf1; /* used for background primarly */
  --dark-grey-1: #525659; /* used for hammerburger menu */
  --very-dark-blue: #021433; /* used for footer background */
  --white-color: #fff;
  --dark-blue: #222844; /* for headings and button background*/
  --light-grey: #a19f9f;
  --light-blue: #d1e5f5;
  --dark-grey-2: #414040;
  --grey: #525659;
}

/*----------------IMPORT EXTERNAL FONTS-------------------------------------- */
@font-face {
  font-family: "Nexa-Bold";
  src: url(../Nexa-Bold.otf);
}
@font-face {
  font-family: "Nexa-Light";
  src: url(../Nexa-Light.otf);
}

/* ----------------------RESET------------------------------------------------ */
* {
  box-sizing: border-box;
}

/* ----------------------HEADINGS and PARAGRAPH--------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nexa-Bold";
  color: var(--dark-blue);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.55rem;
  margin-bottom: 1rem;
  line-height: 2.2rem;
}
h4 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}
h5 {
  font-size: 1.15rem;
  margin-bottom: 1rem;
  line-height: 1.6rem;
}
h6 {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

p {
  margin-bottom: 1rem;
  letter-spacing: 0.078rem;
  line-height: 1.5rem;
  text-align: center;
  color: var(--dark-grey);
  font-family: "Nexa-Light";
}
/* ---------------------------BUTTON--------------------------------------------------- */

button {
  padding: 0.5rem 2rem;
  font-family: "Nexa-Light";
  border: none;
  color: var(--light-blue);
  background-color: var(--dodger-blue);
  border-radius: 0.125rem;
}

/* ---------------------------image and figure--------------------------------------------- */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------------------SELECT and OPTION--------------------------------------------- */

select {
  display: block;
  font-family: "Nexa-Light";
  color: var(--light-grey);
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  width: 100%;
  border: 1px solid var(--light-grey);
  background-color: var(--white);
}

option {
  font-size: 0.9rem;
  font-family: "Nexa-Light";
  line-height: 1.4rem;
}

/* ---------------------------SPAN--------------------------------------------- */

span {
  font-family: "Nexa-Bold";
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--sky-blue-color);
}
/* ---------------------------PLACEHOLDER--------------------------------------------- */

::placeholder {
  letter-spacing: 0.08rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
/* ---------------------------------FOOTER---------------------------------------- */
footer {
  background-color: var(--bg-dark-blue-color);
}

/* -------------------------------------OTHER--------------------------------- */
header,
section,
footer {
  text-align: center;
  padding: 2rem;
}

/* -------------------------------INPUT------------------------ */
input {
  margin-bottom: 1rem;
  width: 100%;
  background-color: var(--bg-off-white);
  border: 1px solid var(--grey-color);
  text-align: center;
}

textarea {
  border: 1px solid var(--grey-color);
  width: 100%;
  height: 10rem;
  line-height: 1.5rem;
  padding: 0.3rem 0.5rem;
  font-family: "Nexa-Bold";
  background-color: var();
  margin: 1rem;
}
/* ----------------------------------list----------------------------- */
ul li {
  font-family: "Nexa-Light";
  margin-bottom: 1rem;
  list-style: none;
}

/* ------------------------------MEDIA QUERY------------------------ */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* every other seems fine to me. So i havn't added anything here for ipad view */
}

@media only screen and (min-width: 1024px) {
  /* I have changed font sizes randomly as it is very hard to guess every font size by seeing UI. I have increases font sizes a little for this view as compared to mobile view */

  h1 {
    font-size: 2.5rem;
    line-height: 3.7rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  h4 {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  h5 {
    font-size: 1.25rem;
    line-height: 1.8rem;
  }
  h6 {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}
