/* --------GLOBAL CSS VARIABLES----------- */
:root {
  --dodger-blue: #047aed;
  --dark-grey-1: #525659; /* used for hammerburger menu */
  --very-dark-blue: #021433;
  --grey: #525659;
  --white: #fff;
  --black: #000;
  --dark-blue: #222844;
  --light-grey: #a19f9f;
  --light-blue: #d1e5f5;
  --dark-grey-2: #414040;
  --very-light-grey: #f2f2f2;
  --sky-blue: rgb(147, 190, 222);
}

/* ----IMPORT EXTERNAL FONTS---- */
@font-face {
  font-family: "Nexa-Bold";
  src: url(../Nexa-Bold.otf);
}

@font-face {
  font-family: "Nexa-Light";
  src: url(../Nexa-Light.otf);
}

/*----RESET----*/
* {
  box-sizing: border-box;
}

/* ----DEFAULT FONT FAMILY---- */
body {
  font-family: "Nexa-Light";
}

/* GLOBAL PADDING */
nav {
  /* text-align: center; */
  padding: 1rem 1rem;
}

section,
footer {
  text-align: center;
  padding: 1.5rem 1rem;
}

/*----HEADINGS and PARAGRAPH----*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nexa-Bold";
  color: var(--dark-blue);
  margin-bottom: 1rem;
  line-height: 1.4;
}

h1,
h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.55rem;
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.078rem;
  line-height: 1.4;
  text-align: center;
  color: var(--dark-blue);
  font-family: "Nexa-Light";
}

/* ----BUTTONS---- */
button {
  font-size: 0.9rem;
  border: none;
  letter-spacing: 1px;
  padding: 0.5rem 2rem;
  padding: 0.5rem 1.5rem;
}

.accentButton {
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.filledButton {
  background-color: var(--dodger-blue);
  color: var(--white);
  border-radius: 0.25rem;
}

.linkButton {
  background-color: --var(--white);
  color: var(--dark-blue);
  border: 1px solid var(--very-dark-blue);
  border-radius: 5px;
}

/* ----IMAGES AND FIGURE---- */
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

figure {
  overflow: hidden;
}

/* ----SELECT AND OPTION---- */

select {
  display: block;
  color: var(--light-grey);
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  width: 100%;
  border: 1px solid var(--light-grey);
  background-color: var(--white);
}

option {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

/* -----OTHER---- */

textarea {
  border: 1px solid var(--grey);
  width: 100%;
  height: 10rem;
  line-height: 1.5rem;
  padding: 0.3rem 0.5rem;
  font-family: "Nexa-Bold";
  background-color: var();
  margin: 1rem;
}

/* ----list---- */
ul li {
  font-family: "Nexa-Light";
  margin-bottom: 1rem;
  list-style: none;
}

/* ----INPUT---- */
input {
  width: 100%;
  background-color: var(--white);
  border: none;
  padding: 0.75rem;
}

/* ----SPAN---- */
span {
  font-family: "Nexa-Bold";
  font-size: 1.15rem;
  line-height: 1.4;
  color: var(--sky-blue);
}

/* ----PLACEHOLDER---- */
::placeholder {
  color: var(--dark-blue);
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  line-height: 1.2;
}

/* ----FOOTER---- */
footer {
  background-color: var(--dark-blue);
}

/* ----MEDIA QUERY---- */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav,
  section,
  footer {
    padding: 1.5rem 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    padding: 1.5rem 5rem;
  }

  section,
  footer {
    padding: 4rem 5rem;
  }

  h1,
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.75rem;
  }
  h6 {
    font-size: 1.5rem;
  }

  input {
    padding: 1.25rem;
  }
}

@media only screen and (min-width: 1024px) {
  #help {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
  }
  #help h2 {
    text-align: left;
  }

  #help button {
    justify-self: flex-end;
    padding: 1rem 3rem;
    font-size: 1.25rem;
  }
}

/* FOOTER */
#footer {
  display: grid;
  gap: 1rem;
  width: 100%;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}

#footer #social i,
#footer .copyrights p,
#footer #services .services {
  color: var(--white);
}

#footer .logo img {
  width: 10rem;
}

#footer #social {
  display: grid;
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

#footer .copyrights p {
  font-size: 0.85rem;
  margin-bottom: 0;
}

#footer #services .services {
  display: grid;
  gap: 1rem;
}

@media only screen and (min-width: 768px) {
  #footer {
    grid-template-rows: 50% 50%;
    grid-template-columns: 70% 25%;
    gap: 2rem;
    align-items: center;
    background-color: var(--white);
  }

  #footer #social i,
  #footer .copyrights p,
  #footer #services .services {
    color: var(--dark-blue);
  }

  #footer #services .services {
    justify-items: flex-start;
    justify-self: left;
    grid-template-columns: repeat(5, max-content);
    gap: 2rem;
    color: var(--dark-blue);
  }

  #footer .logo {
    grid-area: 1/2/2/3;
    justify-self: right;
  }

  #footer .services {
    grid-area: 1/1/2/2;
  }

  #footer .copyrights {
    justify-self: left;
  }

  #footer #social {
    width: 60%;
    grid-area: 2/2/3/3;
    margin: 0;
    justify-self: right;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px) {
  #footer #social {
    justify-self: right;
    grid-template-columns: repeat(auto-fill, minmax(1rem, 1fr));
  }
}
